:root {
    --color-primary: #ff3c00;
    --color-primary-dark: #cc3100;
    --color-bg-dark: #1a1a1a;
    --color-light: #ffffff;
    --color-card: #f9f9f9;
  
    --stack-space: 2rem;
    --font-base: clamp(1rem, 2vw, 1.2rem);
  }
  